{% extends'base.html.twig' %}

{% block body %}
<h1>Stage proposes par la formation {{idFormation}}</h1>

<p>
  Cette page affichera la liste des stages proposes pour
  la formation {{idFormation}}
</p>
{% endblock %}
