{% extends'base.html.twig' %}

{% block body %}
<h1>Stage proposes par l'entreprise {{idEntreprise}}</h1>

<p>
  Cette page affichera la liste des stages proposes par
  l'entreprise {{idEntreprise}}
</p>
{% endblock %}
