<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStage{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block titre %} ProStage {% endblock %}

        {% block menu %}
          <h1> ---------- MENU ---------- </h1>
          <a href="{{path('proStage_accueil')}}"> Toutes les annonces </a>
          <a href="{{path('proStage_stageEntreprise',{idE:'entreprise'})}}"> Filtrer par entreprise </a>
          <a href="{{path('proStage_stageFormation',{idF:'formation'})}}"> Filtrer par formation </a>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
